ul{
  display: flex;
}
ul li{
 list-style: none;
 padding: 10px;
}

form {
  padding: 10px 4%;
}
button, .button{
  border-radius: 3px;
  border: 1px solid #3d3d3d;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition: background-color 300ms ease-out;
  color: #3d3d3d;
  padding: 3px 10px;
  margin: 5px;
}
button:hover, button:focus,  button:hover,  button:focus{
  opacity: 0.7;
  text-decoration: none;
}
.button:hover, .button:focus,  .button:hover,  .button:focus{
  opacity: 0.7;
  text-decoration: none;
}
input[type='file']{
  width: 83px;
}